In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/Aviation_Data.csv')

/var/folders/bt/mf607s9n0xs6sr08g8c44w9c0000gn/T/ipykernel_19212/3151680963.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/Aviation_Data.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
df.shape

(90348, 31)

In [5]:
df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [15]:
df['Aircraft.damage'].value_counts()

Aircraft.damage
Substantial    64148
Destroyed      18623
Minor           2805
Unknown          119
Name: count, dtype: int64

In [16]:
df.isna().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [ ]:
#Most Important Columns need NAN cleaning
#Total.Fatal.Injuries, Total.Serious.Injuries, Total.Minor.Injuries, Total.Uninjured,

In [ ]:
#DROP ROWS FIRST WITH NANS THEN DROP COLUMNS


#DATA Cleaning
# Change Injuiry.Severity, Aircraft.damage
#rename Country column to state
#Delete NANs Event.ID, Accident Number, Event Date (look closer, think they are all the same NANs), 
#Delete rows in Amateur.Built with values of yes

#columns to drop: 'Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Accident.Number', 'Registration.Number', 'Country', 'Publication Date', 'Registration Number', 'Air Carrier', 'Report Status'

In [30]:
columns_to_drop = ['Latitude', 'Longitude', 'Airport.Code', 'Airport.Name', 'Accident.Number', 'Registration.Number', 'Country', 
                   'Publication.Date', 'Registration.Number', 'Air.carrier']
df_columns_dropped = df.drop(columns_to_drop, axis = 1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 22 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Event.Date              88889 non-null  object
 3   Location                88837 non-null  object
 4   Injury.Severity         87889 non-null  object
 5   Aircraft.damage         85695 non-null  object
 6   Aircraft.Category       32287 non-null  object
 7   Make                    88826 non-null  object
 8   Model                   88797 non-null  object
 9   Amateur.Built           88787 non-null  object
 10  Number.of.Engines       82805 non-null  float64
 11  Engine.Type             81793 non-null  object
 12  FAR.Description         32023 non-null  object
 13  Schedule                12582 non-null  object
 14  Purpose.of.flight       82697 non-null  object
 15  Total.Fatal.Injuries    77488 non-null  float64
 16  Total.Serious.Injuries  76379 non-null  float64
 17  Total.Minor.Injuries    76956 non-null  float64
 18  Total.Uninjured         82977 non-null  float64
 19  Weather.Condition       84397 non-null  object
 20  Broad.phase.of.flight   61724 non-null  object
 21  Report.Status           82505 non-null  object
dtypes: float64(5), object(17)
memory usage: 15.2+ MB

In [36]:
df_columns_dropped_no_amatuer = df_columns_dropped[(df_columns_dropped['Amateur.Built'] == 'No')]


df_columns_dropped_no_amatuer = df_columns_dropped_no_amatuer.drop(['Amateur.Built'], axis = 1)
df_columns_dropped_no_amatuer.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80312 entries, 0 to 90347
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                80312 non-null  object
 1   Investigation.Type      80312 non-null  object
 2   Event.Date              80312 non-null  object
 3   Location                80265 non-null  object
 4   Injury.Severity         79313 non-null  object
 5   Aircraft.damage         77165 non-null  object
 6   Aircraft.Category       28721 non-null  object
 7   Make                    80266 non-null  object
 8   Model                   80245 non-null  object
 9   Number.of.Engines       74606 non-null  float64
 10  Engine.Type             73630 non-null  object
 11  FAR.Description         28476 non-null  object
 12  Schedule                12275 non-null  object
 13  Purpose.of.flight       74242 non-null  object
 14  Total.Fatal.Injuries    70155 non-null  float64
 15  Total.Serious.Injuries  69228 non-null  float64
 16  Total.Minor.Injuries    69755 non-null  float64
 17  Total.Uninjured         75425 non-null  float64
 18  Weather.Condition       75960 non-null  object
 19  Broad.phase.of.flight   56146 non-null  object
 20  Report.Status           74276 non-null  object
dtypes: float64(5), object(16)
memory usage: 13.5+ MB

In [ ]:
#New Metrics
#Idea for metrics: looking at a percentage of passengers that remain uninjured: summing all injured and uninjured and using that to divide to
#count of uninjured
#metric Idea: give a severity score for each type of injury and then give a passenger safety score

In [23]:
df['Report.Status'].value_counts()

Report.Status
Probable Cause                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        61754
Foreign                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                1999
<br /><br />                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            167
Factual                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 145
The pilot's failure to maintain directional control during the landing roll.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             58
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The certified flight instructor's delayed remedial action and inadequate supervision during a practice autorotation. Contributing to the accident was the student pilot's excessive application of the throttle.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The pilot's inadequate fuel management, which resulted in a loss of engine power due to fuel starvation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Sundance Helicopters inadequate maintenance of the helicopter, including (1) the improper reuse of a degraded self-locking nut, (2) the improper or lack of installation of a split pin, and (3) inadequate postmaintenance inspections, which resulted in the in-flight separation of the servo control input rod from the fore/aft servo and rendered the helicopter uncontrollable. Contributing to the improper or lack of installation of the split pin was the mechanics fatigue and the lack of clearly delineated maintenance task steps to follow. Contributing to the inadequate postmaintenance inspection was the inspectors fatigue and the lack of clearly delineated inspection steps to follow.        1
The total loss of engine power for reasons that could not be determined because postaccident examination of the airframe and engine did not reveal evidence of preaccident mechanical malfunctions or failures that would have precluded normal operation.                                                                                                                                                                                                                                                                                                                                                                                                                                                                1
The pilots loss of control due to a wind gust during landing.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Name: count, Length: 17006, dtype: int64